:root {
    --footer-height: 40px;

    --primary-color: #fff;
    --secondary-color: #fd4040;
    --third-color: #e8e9eb;
}

* {
    box-sizing: border-box;
}

html {
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,Inter,Helvetica,Arial,sans-serif;
}

html,
body {
   padding: 0;
   margin: 0;
   background-color: var(--primary-color);
   height: calc(100vh - var(--footer-height));
   text-align: center;
}

.footer {
    height: var(--footer-height);
}

.content {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.content .page-title {
    margin-bottom: 40px;
    text-align: center;
}

.content form {
    display: flex;
}

.content input[type="text"],
.content input[type="submit"] {
    border: none;
    font-size: 14px;
    padding: 16px;
    line-height: 1.2;
}

.content input[type="text"] {
    border: none;
    background: var(--third-color);
    width: 100%;
}

.content input[type="submit"] {
    padding: 16px 32px;
    background: var(--secondary-color);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

div.error {
    margin-top: 20px;
    color: red;
}
