<html lang="en">
    <head>
        <title>Mattermost network notification</title>
    </head>
    <body>
    {% block content %}
        {% if hide_form %}
            <h1>Subscribe to the Mattermost network notification</h1>
            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                </div>
                <div>{{ form.submit() }}</div>
            </form>
         {% else %}
             <h1>You are already subscribe</h1>
        {% endif %}
    {% endblock %}
    </body>
</html>