<html lang="en">
    <head>
        <title>Mattermost network notification</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
    {% block content %}
        <div class="form-wrapper">
            {% if hide_form %}
                <h1 class="page-title">Subscribe to the Mattermost network notification</h1>
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.email(size=32) }}
                    </div>
                    <div>{{ form.submit() }}</div>
                </form>
            {% else %}
                <h1 class="page-title">You are already subscribe!</h1>
            {% endif %}
         </div>
    {% endblock %}
    </body>
</html>